header {
	background: #e09292;
	padding: 20px 0;

 } 

body {
    background: #e09292;
   
}

nav a:hover {
    text-decoration: underline;

}

.veja1 a:hover{
    color: #03741f;

}