header {
	background: #e09292;
	padding: 20px 0;

 } 

body {
    background: #e09292;
   
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

.logo {
    
    width:25%;
    margin-right: 150%;
    margin-left: 100%;
    text-align: right;
}

nav {
    position: absolute;
    top: 110;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline;

}



.home a:hover{
    color: #03741f;

}

.produtos a:hover {
    color: #ffffff;
   
 }
 
.contato a:hover {
    color: #ff0000;

}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

/* troca de cor dos produtos */

.produtos h9  {
    display: inline-block;
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos h10 {
    display: inline-block;
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos h11 {
    display: inline-block;
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos h9 {
    font-size: 30px;
}

.produtos h10 {
    font-size: 30px;

}

.produtos-preco {
    font-size: 22px;
    margin: 10px;

}
.produtos-descricao {
    font-size: 18px;
}

.produtos h9:hover {
	border-color: #03741f;
}

.produtos h10:hover {
	border-color: #ffffff;
}

.produtos h11:hover {
	border-color: #ff0000;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

.produtos :hover {
    text-decoration: underline;
    
}
.produtos01 :hover{
    color: #03741f;

}

.produtos02 :hover {
    color: #ffffff;
   
 }
 
.produtos03 :hover {
    color: #ff0000;

}

/* continução */


footer {
   text-align: center;
   background: #FFFFFF;
}