

body {
    background: #838282;
   
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}

nav {
    position: absolute;
    top: 110;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline;
}

h3 a:hover{
    color: #0f4202;

}

h4 a:hover {
    color: #ffffff;
   
 }
 
h5 a:hover {
    color: #ff0000;

}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;

}

.produtos h2 {
    font-size: 40px;
    font-weight: bold; 

}

.produtos-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;

}
.produtos-descricao {
    font-size: 22px;
    font-weight: bold;

}

