header {
	background: #d4cdcd;
	padding: 20px 0;

 } 

body {
    background: #d4cdcd;
   
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}
.logo {
    width: 20%;
    margin-right: 70%;
    margin-left: 10%;
  

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 5px 5px 5px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline;

}

.home a:hover{
    color: #03741f;

}

.produtos a:hover {
    color: #ffffff;
   
 }
 
.contato a:hover {
    color: #ff0000;

}


.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

/* troca de cor dos produtos */

.produtos h9  {
    display: inline-block;
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos h10 {
    display: inline-block;
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos h11 {
    display: inline-block;
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}



.produtos h9 {
    font-size: 30px;
}

.produtos h10 {
    font-size: 30px;

}

.produtos h11 {
    font-size: 30px;

}

.produtos-descricao {
    font-size: 20px;
}



.produtos h9:hover {
	border-color: #03741f;
}

.produtos h10:hover {
	border-color: #ffffff;
}

.produtos h11:hover {
	border-color: #ff0000;
}
/*continuação */ 



footer {
	text-align: center;
	background: url("pg.jpg");
	padding: 40px 0;
}

.logorodape {
    width: 13%;
}
.copyright {
    color: #000000;
    font-size: 15px;
    margin: 15px 0 0;
}

nav1 a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}


.veja1 a:hover {
    color: #03741f;
    text-decoration: underline;

}

.veja2 a:hover {
    color: #ffffff;
    text-decoration: underline;

}

.veja3 a:hover {
    color: #ff0000;
    text-decoration: underline;

}

/* cardapio1*/

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}
.logo {
    width: 20%;
    margin-right: 70%;
    margin-left: 10%;
  

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 5px 5px 5px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}

nav a:hover {
    text-decoration: underline;

}

.home a:hover{
    color: #03741f;

}

.produtos a:hover {
    color: #ffffff;
   
 }

.contato a:hover {
    color: #ff0000;

}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

/* cardapio1 */
header {
	background: #d4cdcd;
	padding: 20px 0;

 } 

body {
    background: #d4cdcd;
   
}

.cardapio1 {
    width: 100%;
}

/* rodape1 */
footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.logorodape {
    width: 13%;
}

.copyright {
    color: #000000;
    font-size: 15px;
    margin: 15px 0 0;
}